<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.BoardDao" >

	<resultMap id="boardMap" type="BoardDto" autoMapping="true">
		<id column="num" property="num" javaType="int" />
	</resultMap>

	<select id="selectGetList" resultMap="boardMap">
		SELECT num, title, email, description, regdate
		FROM board_table
		ORDER BY regdate DESC
		LIMIT 0, 50
    </select>

	<select id="selectGetPost" resultMap="boardMap" parameterType="int">
		SELECT num, title, email, description, regdate
		FROM board_table
		WHERE num = #{num}
	</select>

</mapper>